body{
    background-color: black;
}

nav ul{
    float: right;
    margin: 0px;
    padding: 35px 10px 25px 30px;
}

nav li{
    display: inline;
    margin: 20px;
}

nav a{
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    color: black;
}

#navbar{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: gold;
}

.mainimg{
    width: 100%;
    height: 700px;
}

#title{
    position: relative;
    text-align: center;
    font-family: sans-serif;
    font-size: 100px;
    font-weight: bolder;
    color: white;
    text-shadow: 2px 2px 5px white;
    
}

h1{
    position: relative;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    color: black;
    font-size: 65px;
    text-shadow: 2px 2px 2px white;
    background-color: gold;
}

#start{
    position: relative;
    padding-left: 30%;
    padding-top: 0px;
    color: white;
}

#fooditems a{
    float: center;
    position: relative;
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    line-height: 30px;
}

#mid{
    position: relative;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    color: black;
    font-size: 65px;
    text-shadow: 2px 2px 2px white;
    background-color: gold;
}

.para p{

    position: relative;
    line-height: 25px;
    color: white;
    font-family: sans-serif;
    padding: 0px 200px 0px 200px;
    
}

.row{
    padding-left: 200px;
}

.column {
    float: left;
    width: 25%;
    padding: 35px;
  }
  
  /* Style the images inside the grid */
  .column img {
    opacity: 0.8; 
    cursor: pointer; 
  }
  
  .column img:hover{
      transform: scale(1.5);
  }

.contact-us{
    position: relative;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    color: black;
    font-size: 35px;
    text-shadow: 2px 2px 2px white;
    background-color: gold;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
.fa:hover {
    opacity: 0.7;
    }
  
.fa-facebook {
    background: #3B5998;
    color: white;
    }
  
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}
      
.fa-instagram {
    background: #125688;
    color: white;
}
      
.copy{
    color: white;
    text-align: center;
}  

.social{
    display: flex;
    justify-content: center;
    
}